In [1]:
import pandas as pd 
import numpy as np 
import plotly.graph_objs as go

In [3]:
leaf_ts = pd.read_csv('../data/leaf_ts.csv')
leaf_ts.head()

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,FOODS_1_001_CA_1_validation,3,0,0,1,4,2,0,2,0,...,0,2,0,4,1,1,0,1,1,0
1,FOODS_1_001_CA_2_validation,2,0,0,0,1,0,8,0,4,...,1,0,14,0,1,1,4,0,0,4
2,FOODS_1_001_CA_3_validation,1,2,1,1,1,2,0,1,1,...,0,0,13,0,0,0,0,0,1,0
3,FOODS_1_001_CA_4_validation,0,1,1,1,1,1,0,0,0,...,0,0,0,2,0,0,0,1,1,1
4,FOODS_1_001_TX_1_validation,0,1,1,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [9]:
print((leaf_ts == np.NaN ).sum().sum())

0